<ion-content>
  <h1>Welcome To</h1>
  <img src="./assets/icon/favicon.png">
  <div class="mainForm">
    <ion-input type="text" placeholder="Username"></ion-input>
    <ion-input type="text" placeholder="Phone Number"></ion-input>
    <ion-input type="text" placeholder="Email"></ion-input>
    <ion-input type="text" placeholder="Password"></ion-input>
    <ion-row>
      <ion-checkbox color="success"></ion-checkbox>
      <ion-label class="toc">Accept all terms and conditions</ion-label>
    </ion-row>
    <br>
    <div>
      <ion-row>
        <ion-col><ion-button fill="clear"><ion-icon name="logo-google" size="large"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button fill="clear"><ion-icon name="logo-facebook" size="large"></ion-icon></ion-button></ion-col>
        <ion-col><ion-button fill="clear"><ion-icon name="logo-apple" size="large"></ion-icon></ion-button></ion-col>
      </ion-row>
    </div>
    <br>
    <ion-button href="/tabs/Home">Sign Up</ion-button>
  </div>
  <div class="bottom">
    <p>Already have an account? <a href="./Login">Sign In Now</a></p>
  </div>
</ion-content>